h1{
  font-family: 'Permanent Marker', cursive;
}

body {
  background-image: url("https://images.unsplash.com/photo-1499516387605-0d549f707bd1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2700&q=80");
  background-color: #cccccc;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

table{
  display: flex;
  justify-content: center;
}

td{
  padding: 5px;
  border: 10px goldenrod;
  border-style: solid;
}

td:hover {
  background-color: darkblue
}

/*display: flex;
justify-content: center;*/